.card {
  display: flex;
  position: relative;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  min-height: 282px;
  max-height: 282px;
}

.card__description {
  display: flex;
  margin: 0;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  line-height: 30px;
}

.card__title {
  max-width: 220px;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/Vector-Heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  transition: 0.2s ease-in-out;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button_active {
  background: url(../images/Vector-Heart-Filled.svg);
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  position: absolute;
  top: 15px;
  right: -4px;
  width: 18px;
  height: 21px;
  border: none;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  transition: transform 0.3s ease;
  flex-shrink: 0;
  cursor: pointer;
}

.card__delete-button:hover {
  transform: scale(1.4);
}
