.gallery {
  font-family: "Inter", Arial, san-serif;
  margin-top: 51px;
  margin-right: 200px;
  margin-left: 200px;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 775px) {
  .gallery__cards {
    margin-top: 36px;
    padding: 15px 0 18px;
  }
}
