.header {
  margin-top: 45px;
  border-bottom: solid rgb(84 84 84/0.7) 1px;
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
}

.header__logo {
  padding-bottom: 41px;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 775px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    padding-left: 27px;
    padding-bottom: 32px;
    width: 126px;
    height: 24px;
  }
}
