**FOR REVIEWER: The modal for editing the profile does open, I am unsure of what this comment is referring to. The modal should be working properly https://postimg.cc/rKggyR8t**

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  background: transparent url(../images/Close-Icon.svg) center no-repeat;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.modal__heading {
  color: black;
  margin: 0;
  margin-bottom: 54px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
}

.modal__input {
  display: flex;
  flex-direction: column;
  width: 358px;
  margin-bottom: 30px;
  padding: 0 0 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.modal__button {
  width: 100%;
  height: 50px;
  align-items: flex-end;
  margin-top: 18px;
  outline: none;
  border-radius: 2px;
  color: white;
  background-color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
}

@media screen and (max-width: 775px) {
  .modal__container {
    width: 215px;
    height: 260px;
  }
  .modal__input {
    width: 215px;
  }
  .modal__close {
    position: absolute;
    right: 10px;
    top: -60px;
    width: 26px;
    height: 26px;
  }
  .modal__heading {
    font-size: 18px;
  }
  .modal__button {
    font-size: 14px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
