.gallery {
  font-family: "Inter", Arial, sans-serif;
  margin-top: 51px;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 775px) {
  .gallery__cards {
    margin-top: 36px;
  }
}
